POSTGRES_DB=pass_in
POSTGRES_USER=pass_in
POSTGRES_PASSWORD=pass_in
POSTGRES_PORT=5432

DATABASE_URL=jdbc:postgresql://localhost:5432/pass_in
DATABASE_USERNAME=pass_in
DATABASE_PASSWORD=pass_in
FRONTEND_ORIGIN=http://localhost:9090
VITE_API_BASE_URL=http://localhost:8080
CHECK_IN_TOKEN_SECRET=change-me
CHECK_IN_TOKEN_TTL=PT24H
